<section class="page-header">
  <img src="https://scontent-maa2-1.xx.fbcdn.net/v/t1.0-9/117959645_3257347427692758_5694213627042260155_o.jpg?_nc_cat=108&ccb=2&_nc_sid=09cbfe&_nc_ohc=RlDvKb3_B5oAX9RLPvk&_nc_ht=scontent-maa2-1.xx&oh=50f7036e0c6ccbd55b6ba9259eff8fb4&oe=5FC09FAF" alt="Souvic" width="170" height="130"> 
  <h1 href="https://souvic.github.io/" class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://souvic.github.io/" class="btn">Home</a>
  <a href="https://scholar.google.co.in/citations?user=sfl4ygQAAAAJ&hl=en" class="btn">Google Scholar</a>
  <a href="https://twitter.com/ChakraSouvic" class="btn">Twitter</a>
  <a href="https://github.com/Souvic" class="btn">GitHub</a>
  <a href="https://souvic.github.io/blogs.html" class="btn">Posts</a>
  <a href="https://www.linkedin.com/in/souvic-chakraborty-7287b27b/" class="btn">LinkedIn</a>
</section>
