<section class="page-header">
  <img src="http://cse.iitkgp.ac.in/~gourabkp/profile.jpg" alt="Gourab" width="200" height="150">
  <h1 href="https://gourabkumarpatro.github.io/" class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://scholar.google.co.in/citations?user=sfl4ygQAAAAJ&hl=en" class="btn">Google Scholar</a>
  <a href="https://www.linkedin.com/in/gourabgggg/" class="btn">LinkedIn</a>
  <a href="https://github.com/gourabkumarpatro" class="btn">GitHub</a>
  <a href="https://gourabkumarpatro.github.io/blogs.html" class="btn">Blogs</a>
</section>
