<section class="page-header">
  <img src="https://drive.google.com/file/d/1EjtskP4jcBfhS3qCdrRScPrRVddT6-hj/view?usp=sharing" alt="Souvic" width="170" height="170"> 
  <h1 href="https://souvic.github.io/" class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://souvic.github.io/" class="btn">Home</a>
  <a href="https://scholar.google.co.in/citations?user=sfl4ygQAAAAJ&hl=en" class="btn">Google Scholar</a>
  <a href="https://twitter.com/ChakraSouvic" class="btn">Twitter</a>
  <a href="https://github.com/Souvic" class="btn">GitHub</a>
  <a href="https://souvic.github.io/blogs.html" class="btn">Posts</a>
  <a href="https://www.linkedin.com/in/souvic-chakraborty-7287b27b/" class="btn">LinkedIn</a>
</section>
